files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;
      types_hash_max_size 2048;
      types_hash_bucket_size 128;
      upstream flask {
        server 127.0.0.1:8000;
        keepalive 256;
      }

      server {
        listen 80;
        server_name nplusm-web-env.eba-xfyditm7.us-east-2.elasticbeanstalk.com nplusm.io;

        location / {
          proxy_pass http://127.0.0.1:8000;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
        }
      }

container_commands:
  01_reload_nginx:
    command: "sudo service nginx reload"