files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_app_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo chown -R webapp:webapp /var/app/current
      sudo chmod -R 755 /var/app/current

  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_copy_application.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cp -f /var/app/staging/application.py /var/app/current/application.py